<form action="<form method="post" action="https://weightless.so/api/lists/8nywxxwt/subscribe">" method="<form method="post" action="https://weightless.so/api/lists/8nywxxwt/subscribe">">
    <li class="contact-li">
        <input type="email" placeholder="Your email" id="email"/>
        <input type="submit" value="Subscribe" id="submit"/>
    </li>
</form>

<form action="<form method="post" action="https://weightless.so/api/lists/8nywxxwt/subscribe">" method="<form method="post" action="https://weightless.so/api/lists/8nywxxwt/subscribe">">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <li class="contact-li">
        <input type="email" placeholder="Your email" id="email"/>
        <input type="submit" value="Subscribe" id="submit"/>
    </li>

  
